body {
    background-color: cadetblue;
}
h1 {
    background-color: aqua;
    padding: 30px;
    text-align: center;
}
img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
h2 {
    margin-top: 140px;
}
.box {
    width: 50%;
    float: left;
    margin-top: 150px;
}
table {
    border-collapse: collapse;
    border: 0px;
    float: right;
    width: 30%;
}
figcaption {
    text-align: center;
    background-color: red;
}
footer {
    background-color: aqua;
    color: aqua;
    margin-top: 860px;
    padding: 35px;
}